<div class="main_left">

	<h1>Editing Appointment</h1>

	<%= render 'form' %>
</div>

<div class="main_right">
	<%= link_to 'Show', @appointment %> </br>
	<%= link_to 'all appointments', appointments_path %>
</div>